/* public/css/style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ee5454;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

section {
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.film-item {
    flex: 1 1 calc(20% - 20px); /* 5 films par ligne */
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}
.film-item img {
    max-width: 100%;
    height: auto;
}
.film-detail {
    text-align: center;
}
.film-detail img {
    max-width: 300px;
    height: auto;
}
.film-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.film-item {
    flex: 1 1 calc(20% - 20px); /* 5 films par ligne */
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.actor-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.actor-item {
    flex: 1 1 calc(20% - 20px); /* 5 acteurs par ligne */
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}
.actor-item img {
    max-width: 100px;
    height: auto;
}